<div class="inputCode ">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">รหัสพนักงาน</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>


<div class="inputPrefix">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">คำนำหน้า</label>
        <!-- <div>
            <p-dropdown [options]="prefixs" [(ngModel)]="selectedPrefix" optionLabel="name"
                [style]="{'width': '15rem'}"></p-dropdown>
        </div> -->
    </div>
</div>


<div class="inputName">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">ชื่อ</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>


<div class="inputSurname">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">นามสกุล</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>

<div class="inputCompany">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">บริษัท</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>
<div class="inputPosition">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">ตำแหน่ง</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>
    </div>
</div>

<div class="inputEmail">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">Email</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>

<div class="inputPhone">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">หมายเลขโทรศัพท์</label>
        <div><input id="username1" type="username" aria-describedby="username1-help"
                [style]="{'width': '15rem'}" pInputText /></div>

    </div>
</div>

<div class="inputGroup">
    <div class="field">
        <label for="username1" class="block"
            style="font-size: 13px; font-weight: 400;">กลุ่มผู้ใช้งาน</label>
        <div>
            <!-- <p-dropdown [options]="groupSelect" [(ngModel)]="selectedGroup" optionLabel="name"
                [style]="{'width': '15rem'}"></p-dropdown> -->
        </div>
    </div>
</div>