<p-toast></p-toast>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- <p-menubar [style]=" {'background-color' : '#00214E'}">
        <div class="imgptt"></div>
        <div class="imgngr"></div>
        <div class="textCC">CC</div>
        <div style="margin-right: 200px;" id="div7">
            <input [style]=" {'height':'3rem' ,'font-size':'15px','width':'400px','margin-right': '5px'}" type="text"
                pInputText placeholder="ค้นหาจากชื่อ">
            <p-button [style]=" {  'width':'40px','height':'3rem' }" icon="pi pi-search"></p-button>
        </div>
    </p-menubar> -->
    <div class="menu1" style="margin-left: 65px;">
        <div class="vertical-menu1">
            <div class="textUser">User Management</div>
        </div>

    </div>
    <!-- <div class="menu">
        <div class="vertical-menu">
            <a href="dashBoard"><i id="dash" class="pi pi-exclamation-triangle" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-chart-bar" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-send" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-sliders-h" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-envelope" style="font-size: 2rem"></i></a>
            <a href="userM"><i class="pi pi-user" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-link" style="font-size: 2rem"></i></a>
            <a href="#"><i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i></a>
        </div>

    </div> -->

    <div class="userM" style="margin-top: 60px;">
        <p-tabView [style]="{'font-size':'15px'}">
            <p-tabPanel header="ผู้ใช้งาน">
                <div *ngIf="div2">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="ค้นหาจากรหัสพนักงาน, ชื่อ, นามสกุล, บริษัท" [(ngModel)]="searchText" autocomplete="off"
                            style="width: 600px ; height: 42px; font-size: 15px;">
                        <p-button icon="pi pi-search" [style]=" {'height':'42px' ,'width':'50px','margin-left': '6px'}">
                        </p-button>



                        <button pButton pRipple type="button" label="ลบผู้ใช้งาน"
                            class="p-button-outlined p-button-secondary"
                            [style]=" {'height':'42px' ,'width':'125px', 'font-size':'15px','margin-left':'400px' }"></button>


                        <button pButton type="button" label="เพิ่มผู้ใช้งาน" class="p-button-success"
                            (click)="div1Function()"
                            [style]=" {'height':'42px' ,'width':'125px', 'font-size':'15px','margin-left':'15px','background-color':'#27AE60'}"></button>
                    </span>
                </div>

                <div *ngIf="div1 && check ==1">
                    <p-card
                        [style]="{'width': '137rem', 'height':'380px', 'margin-bottom': '2em', 'background-color': '#e0f9e3'}">

                        <div *ngIf="div1 && check ==1"> <i style="margin-left:1340px;" (click)="div2Function()"
                                class="pi pi-times"></i></div>
                        <div style="font-size: 15px ; color: rgb(18, 195, 18);">เพิ่มผู้ใช้งาน</div>



                        <div class="inputUser">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">Username</label> 
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText   [(ngModel)]="user_name" [required]="true"/>
                                    <button pButton pRipple type="button" label="ตรวจสอบ"
                                        class="p-button-success check"></button>
                                </div>
                            </div>
                        </div>

                        <div class="inputCode ">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">รหัสพนักงาน</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText [(ngModel)]="emp_code" /></div>

                            </div>
                        </div>


                        <div class="inputPrefix">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">คำนำหน้า</label>
                                <div>
                                    <p-dropdown [options]="prefixs" [(ngModel)]="selectedPrefix" optionLabel="name"
                                        [style]="{'width': '15rem'}"></p-dropdown>
                                </div>
                            </div>
                        </div>


                        <div class="inputName">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">ชื่อ</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText pInputText [(ngModel)]="name" /></div>

                            </div>
                        </div>


                        <div class="inputSurname">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">นามสกุล</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText [(ngModel)]="surname"/></div>

                            </div>
                        </div>

                        <div class="inputCompany">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">บริษัท</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText [(ngModel)]="company" /></div>

                            </div>
                        </div>

                        <div class="inputPosition">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">ตำแหน่ง</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText [(ngModel)]="job_title" /></div>

                            </div>
                        </div>

                        <div class="inputEmail">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">Email</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText  [(ngModel)]="email"/></div>

                            </div>
                        </div>

                        <div class="inputPhone">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">หมายเลขโทรศัพท์</label>
                                <div><input id="username1" type="username" aria-describedby="username1-help"
                                        [style]="{'width': '15rem'}" pInputText [(ngModel)]="mobile"/></div>

                            </div>
                        </div>

                        <div class="inputGroup">
                            <div class="field">
                                <label for="username1" class="block"
                                    style="font-size: 13px; font-weight: 400;">กลุ่มผู้ใช้งาน</label>
                                <div>
                                    <p-dropdown [options]="groupSelect" [(ngModel)]="selectedGroup" optionLabel="name"
                                        [style]="{'width': '15rem'}"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:70px ;">
                            <div class="btnClear">
                                <button pButton pRipple type="button" label="ล้างค่า"  (click)="clearData()"
                                    [style]="{'width': '6rem' , 'height': '3rem'}"
                                    class="p-button-raised p-button-secondary p-button-text"></button>
                            </div>
                            <div class="btnAdd">
                                <p-button label="เพิ่ม" [style]="{'width': '6rem' , 'height': '3rem'}"  
                              (click)="div2Function()" (click)="AddData(user_id,user_name,emp_code, name, surname,company,job_title,email,mobile);"  pRipple (click)="showSuccess()"     ></p-button>

                
                            </div>
                        </div>
                    </p-card>
                </div>
                <div style="margin-top: 20px;">
                    <p-table [value]="datas  | filter:searchText" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{'min-width': '140rem' , 'font-size': '15px'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon>
                                </th>
                                <th pSortableColumn="code">รหัสพนักงาน<p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="name">ชื่อ-นามสกุล<p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="company">บริษัท<p-sortIcon field="company"></p-sortIcon>
                                </th>
                                <th pSortableColumn="position">ตำแหน่ง<p-sortIcon field="position"></p-sortIcon>
                                </th>
                                <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon>
                                </th>
                                <th pSortableColumn="phone">หมายเลขโทรศัพท์<p-sortIcon field="phone"></p-sortIcon>
                                </th>
                                <!-- <th pSortableColumn="group">กลุ่มผู้ใช้งาน<p-sortIcon field="group"></p-sortIcon>
                                </th> -->
                                <th pSortableColumn="date">วันที่เพิ่มรายการ<p-sortIcon field="date"></p-sortIcon>
                                </th>
                                <th></th>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-users>
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="users"></p-tableCheckbox>
                                </td>
                                <td>{{users.USERNAME}}</td>
                                <td>{{users.EMP_CODE}}</td>
                                <td>{{users.NAME}}  {{users.SURNAME}}</td>
                                <td>{{users.COMPANY}}</td>
                                <td>{{users.JOB_TITLE}}</td>
                                <td>{{users.EMAIL}}</td>
                                <td>{{users.MOBILE}}</td>
                                <td>{{users.DATE_MODIFIED}}</td>
                                <td><i class="pi pi-pencil" style="color: #162A45;"></i> <i class="pi pi-trash"
                                        style="color: #EB5757; margin-left: 5px;"></i></td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="กลุ่มผู้ใช้งาน">
                <div *ngIf="div4">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="ค้นหาจากชื่อกลุ่ม"
                            style="width: 600px ; height: 42px; font-size: 15px;">
                        <p-button icon="pi pi-search" [style]=" {'height':'42px' ,'width':'50px','margin-left': '6px'}">
                        </p-button>
                        <button pButton pRipple type="button" label="ลบกลุ่มผู้ใช้งาน"
                            class="p-button-outlined p-button-secondary"
                            [style]=" {'height':'42px' ,'width':'125px', 'font-size':'15px','margin-left':'400px'}"></button>
                        <button pButton (click)="div3Function()" type="button" label="เพิ่มกลุ่มผู้ใช้งาน"
                            class="p-button-success"
                            [style]=" {'height':'42px' ,'width':'125px', 'font-size':'15px','margin-left':'15px','background-color':'#27AE60'}"></button>
                    </span>
                </div>
                
                <div *ngIf="div3 && checkG ==1">
                    <p-card
                        [style]="{'width': '137rem', 'height':'480px', 'margin-bottom': '2em', 'background-color': '#e0f9e3'}">

                        <div *ngIf="div3 && checkG ==1"> <i style="margin-left:1340px;" (click)="div4Function()"
                                class="pi pi-times"></i></div>
                        <div style="font-size: 15px ; color: rgb(18, 195, 18); ">เพิ่มกลุ่มผู้ใช้งาน</div>
                        <p-tabView>
                            <p-tabPanel header="รายละเอียดกลุ่ม">
                                <span>
                                    <div class="inputGroup" style="margin-top: 1px;">
                                        <div class="field">
                                            <label for="username1" class="block"
                                                style="font-size: 13px; font-weight: 400;">ชื่อกลุ่ม</label>
                                            <div><input id="username1" type="username" aria-describedby="username1-help"
                                                    [style]="{'width': '25rem'}" pInputText /></div>
                                        </div>
                                    </div>
                                    <div class="inputDetail">
                                        <div class="field">
                                            <label for="username1" class="block"
                                                style="font-size: 13px; font-weight: 400;">รายละเอียด</label>
                                            <div><input id="username1" type="username" aria-describedby="username1-help"
                                                    [style]="{'width': '25rem'}" pInputText /></div>
                                        </div>
                                    </div>
                                </span>
                                <div style="margin-top: 20px; font-weight: 400; font-size: 13px;">เพิ่มสมาชิกในกลุ่ม
                                </div>
                                <div>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input type="text" pInputText
                                            placeholder="ค้นหาจากรหัสพนักงาน, ชื่อ, นามสกุล, บริษัท"
                                            style="width: 600px ; height: 25px; font-size: 10px;">
                                        <p-button icon="pi pi-search"
                                            [style]=" {'height':'25px' ,'width':'45px', 'margin-left':'5px'}">
                                        </p-button>
                                    </span>

                                    <div style="margin-top: 5px ;">
                                        <!-- <div class="field-radiobutton">
                                            <p-radioButton></p-radioButton>
                                            <label style="font-size: 12px; font-weight: 400; margin-left: 5px;">PTT
                                                Active Directory </label>
                                        </div> -->
                                    </div>
                                    <div style="margin-top:150px ;">
                                        <div class="btnClear">
                                            <button pButton pRipple type="button" label="ล้างค่า"
                                                [style]="{'width': '6rem' , 'height': '3rem'}"
                                                class="p-button-raised p-button-secondary p-button-text"></button>
                                        </div>
                                        <div class="btnAdd">
                                            <p-button label="เพิ่ม" [style]="{'width': '6rem' , 'height': '3rem'}"
                                                (click)="div4Function()"></p-button>
                                        </div>
                                    </div>










                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="สิทธิ์การเข้าใช้งาน">

                                <div class="field-checkbox">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">System and
                                        Alert</label>
                                </div>


                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Monitor and
                                        Alert</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Notification
                                        History and Dashboard</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Update
                                        Status</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Threshold
                                        Setting</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 50px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">View</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 50px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Add</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 50px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Edit</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 50px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Delete</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">Notification
                                        Setting</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 50px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">View</label>
                                </div>

                                <div class="field-checkbox" style="margin-left: 25px;">
                                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                    <label for="binary"
                                        style="margin-left: 5px; font-size: 12px; font-weight: 400;">NNS</label>
                                </div>


                                <div style="margin-top:50px ;">
                                    <div class="btnClear">
                                        <button pButton pRipple type="button" label="ล้างค่า"
                                            [style]="{'width': '6rem' , 'height': '3rem'}"
                                            class="p-button-raised p-button-secondary p-button-text"></button>
                                    </div>
                                    <div class="btnAdd">
                                        <p-button label="เพิ่ม" [style]="{'width': '6rem' , 'height': '3rem'}"
                                            (click)="div4Function()"></p-button>
                                    </div>
                                </div>


                            </p-tabPanel>
                        </p-tabView>
                    </p-card>
                </div>
                <div style="margin-top: 20px;">
                    <p-table [value]="groups" [tableStyle]="{'min-width': '140rem' , 'font-size': '15px'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                                </th>
                                <th pSortableColumn="groupName">ชื่อกลุ่มผู้ใช้งาน<p-sortIcon field="groupName">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="detail">รายละเอียด<p-sortIcon field="detail"></p-sortIcon>
                                </th>
                                <th pSortableColumn="membersNumber">จำนวนสมาชิก<p-sortIcon field="membersNumber">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="date">วันที่เพิ่มรายการ<p-sortIcon field="date"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-groups>
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="groups"></p-tableCheckbox>
                                </td>
                                <td>{{groups.groupName}}</td>
                                <td>{{groups.detail}}</td>
                                <td>{{groups.membersNumber}}</td>
                                <td>{{groups.date}}</td>
                                <td><i class="pi pi-pencil" style="color: #162A45;"></i> <i class="pi pi-trash"
                                        style="color: #EB5757; margin-left: 5px;"></i></td>



                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>

        </p-tabView>
    </div>
</body>

</html>