#div5 {
    float: left;
    margin-right: 40px;
    position: absolute;
    width: 107px;
    height: 58px;
    left: 16px;
    top: -3px;

    font-family: 'Bauhaus 93';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;

    color: #FBFCFF;

}

#div6 {
    margin-top: 10px;
    float: left;
    margin-right: 400px;

    position: absolute;
    width: 365px;
    height: 36px;
    left: 148px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FBFCFF;


    // width:100px;
    // height:100px;

    // text-align:center;
}

#div7 {
    margin-top: 10px;
    float: left;



    // width:100px;
    // height:100px;

    // text-align:center;
}


/////////////////////////////////
.TextMo {
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}

#div1 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div2 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div3 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div4 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

.vertical-menu {
    width: 60px;

}

.vertical-menu a {
    background-color: #F7FAFF;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

.menu {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 0px;
    gap: 6px;

    position: absolute;
    width: 64px;
    height: 940px;
    left: 0px;
    top: 2px;

    background: #F7FAFF;
    box-shadow: 1px 0px 0px #DBDEE7;
    margin-top: 50px;

}

.menu1 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 0px;
    gap: 6px;

    position: absolute;
    width: 1410px;
    height: 60px;
    left: 0px;
    top: 2px;

    background: #F7FAFF;
    box-shadow: 1px 0px 0px #DBDEE7;
    margin-top: 50px;

}

.userM {
    margin-left: 70px;

}

.textUser {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-right: 1150px;
    color: #1A1A1A;
}

.imgptt {
    position: absolute;
    width: 69px;
    height: 31px;
    left: 16px;
    top: 7px;
    background: url("../../../assets/ptt.png");
}

.imgngr {
    position: absolute;
    width: 40px;
    height: 27px;
    left: 104px;
    top: 20px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    background: no-repeat url("../../../assets/NGR.png");

}

.textCC {
    position: absolute;
    width: 23px;
    height: 27px;
    left: 147px;
    top: 14px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #9EACC2;
}

.addUser {
    position: absolute;
    width: 1000px;
    height: 216px;
    left: 675px;
    top: 120px;

    background: linear-gradient(73.07deg, #EB7100 0%, #BF360A 100%);
    border-radius: 14px;
}

.inputUser {
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;

}

.inputCode {
    margin-top: 20px;

    margin-left: 10px;
}

.inputName {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.inputPrefix {
    margin-top: 10px;
    float: left;
    margin-left: 5px;
}

.inputSurname {
    margin-top: 10px;

    margin-left: 5px;
}


.inputCompany {
    margin-top: 10px;
    float: left;
    margin-left: 5px;

}

.inputPosition {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.inputEmail {
    margin-top: 10px;

    margin-left: 5px;

}

.inputPhone {
    margin-top: 10px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;

}

.inputGroup {
    margin-top: 10px;
    // float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.btnClear {
    margin-left: 5px;
    margin-top: 10px;
    float: left;


}





.btnAdd {
    margin-top: 12px;
    float: left;
    margin-left: 10px;
}

.inputGroup {
    margin-top: 10px;
    float: left
}


// .inputDetail{
//     margin-top: 20px;
// }


// .inputDetail{
//     margin-left: 5px;

// }

// :host ::ng-deep .p-tabview .p-tabview-panel{
//     background-color: red
//   }
.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 4px 12px;
    // gap: 10px;
    position: absolute;
    width: 63px;
    height: 22px;
    left: 178px;
    top: 260px;
    background: #27AE60;
    border-radius: 2px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 500;
    font-size:1px;
    color: #FFFFFF;
}