#div5 {
    float: left;
    margin-right: 40px;
    // width:100px;
    // height:100px;

    // text-align:center;
    position: absolute;
    width: 107px;
    height: 58px;
    left: 16px;
    top: -3px;

    font-family: 'Bauhaus 93';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;

    color: #FBFCFF;

}

#div6 {
    margin-top: 10px;
    float: left;
    margin-right: 400px;

    position: absolute;
    width: 365px;
    height: 36px;
    left: 148px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FBFCFF;


    // width:100px;
    // height:100px;

    // text-align:center;
}

#div7 {
    margin-top: 10px;
    float: left;



    // width:100px;
    // height:100px;

    // text-align:center;
}


/////////////////////////////////
.TextMo {
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}

#div1 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div2 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div3 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

#div4 {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    // width:100px;
    // height:100px;

    // text-align:center;
}

.vertical-menu {
    width: 60px;

}

.vertical-menu a {
    background-color: #F7FAFF;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

.menu {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 0px;
    gap: 6px;

    position: absolute;
    width: 64px;
    height: 940px;
    left: 0px;
    top: 2px;

    background: #F7FAFF;
    box-shadow: 1px 0px 0px #DBDEE7;
    margin-top: 50px;
    cursor: pointer;


}

