<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <p-menubar [style]=" {'background-color' : '#00214E'}">
        <div id="div5" style="font-size: 30px; color: white; font-weight: bolder;">AtlasX</div>
        <div id="div6" style="font-size: 18px; color: white;">User Management & Dashboard</div>
        <div style="margin-right: 200px;" id="div7">
            <input [style]=" {'height':'3rem' ,'font-size':'15px','width':'400px','margin-right': '5px'}" type="text"
                pInputText placeholder="ค้นหาจากชื่อ">
            <p-button [style]=" {  'width':'40px','height':'3rem' }" icon="pi pi-search"></p-button>
        </div>
    </p-menubar>
    <div class="menu">

        <div class="vertical-menu">
            <a > <img src = "../../..//assets/icons/Vector1.png" (click) = "findpage(1)" style="font-size: 2rem; margin-left: 5px;"></a>
            <a ><img src="../../../assets/icons/Vector.png" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Vector3.png" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Vector4.svg" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Vector5.svg" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Vector6.svg" (click) = "findpage(6)" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Vector7.svg" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
            <a ><img src="../../../assets/icons/Frame 1055.svg" style="font-size: 2rem;  margin-left: 5px; margin-top: 15px;"></a>
        </div>

    </div>
    <div *ngIf="checkpage==1 || checkpage==0">
        <app-dash-board></app-dash-board>
    </div>

    <div *ngIf="checkpage==6">
        <app-user-m></app-user-m>
    </div>


</body>

</html>