<div class="div1">
  <div class="gis"></div>
  <div class="line"></div>
  <div class="text1">AtlasX</div>
</div>
<div class="bg">
  <div class="login">
      <div class="textLogin">เข้าสู่ระบบ</div>
      <div class="inputUser"><input type="text" pInputText placeholder="ชื่อผู้ใช้งาน"
              style="width: 300px; background: #F7F7F7;" /></div>
      <div class="inputPassword"><input type="password" pPassword placeholder="รหัสผ่าน"
              style="width: 300px; background: #F7F7F7;" />
          <div class="btnLogin"><a href="mainPage"><button pButton type="button" label="เข้าสู่ระบบ"
                      style="width: 300px;"></button></a></div>
      </div>

  </div>

</div>
<div class="bg1">
  <div class="text2">AtlasX</div>
  <div class="line2"></div>
  <div class="text3">เลขที่ 202 อาคาร ซีดีจี เฮ้าส์</div>
  <div class="text4">ถนนนางลิ้นจี่ แขวงช่องนนทรี
      เขตยานนาวา กรุงเทพมหานคร 10120
  </div>

  <div class="line3"></div>
  <div class="text5">โทรศัพท์ 02 678 0707</div>

  <div class="text6">โทรสาร
      02 678 0328</div>

  <div class="text7">อีเมล
      gis.contact@cdg.co.th

  </div>
</div>