.div1 {
  position: absolute;
  width: 1490px;
  height: 120px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.25);
}

.div2 {
  position: absolute;
  width: 90px;
  height: 61px;
  left: 869px;
  top: 26px;

  // background: url(final-logo_c-1-2.png);
}

.bg {
  position: absolute;
  width: 1490px;
  height: 500px;
  left: 0px;
  top: 120px;

  // background-color: rgb(182, 252, 246);
  background: no-repeat url("https://dpbnri2zg3lc2.cloudfront.net/en/wp-content/uploads/2021/01/how-to-create-and-define-a-user-persona.jpg");
  background-size: 1490px 500px;
}

.bg1 {
  position: absolute;
  width: 1490px;
  height: 120px;
  left: 0px;
  top: 600px;
  background: #00214E;

}





.login {
  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 250px;
  left: 950px;
  top: 100px;

  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
}

.textLogin {
  position: absolute;
  width: 200px;
  height: 36px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  top: 15px;
  left: 30px;

  /* Gray 1 */

  color: #333333;

}

.inputUser {
  margin-top: 50px;
  margin-left: 30px;

}

.inputPassword {
  margin-top: 10px;
  margin-left: 30px;
}

.btnLogin {
  margin-top: 40px;
}


.gis {
  position: absolute;
  width: 90px;
  height: 61px;
  left: 600px;
  top: 26px;

  background: url("../../assets/final-logo_c.png");
}

.line {
  position: absolute;
  width: 66.66px;
  height: 0px;
  left: 680px;
  top: 50px;

  border: 1px solid #CCCCCC;
  transform: rotate(90deg);
}

.text1 {
  position: absolute;
  width: 129px;
  height: 70px;
  left: 750px;
  top: 21px;

  font-family: 'Bauhaus 93';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;

  color: #4D7CC4;
}

.text2 {
  position: absolute;
  width: 129px;
  height: 70px;
  left: 250px;


  font-family: 'Bauhaus 93';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;

  color: #FBFCFF;

}

.line2 {
  position: absolute;
  width: 84px;
  height: 0px;
  left: 380px;
  top: 50px;

  border: 1px solid #1890FF;
  transform: rotate(90deg);

}

.text3 {
  position: absolute;
  width: 280px;
  height: 60px;
  left: 450px;
  top: 20px;

  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;

}

.text4 {
  position: absolute;
  width: 273px;
  height: 75px;
  left: 450px;
  top: 50px;

  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;



  color: #FFFFFF;


}
.line3 {
  position: absolute;
  width: 84px;
  height: 0px;
  left: 780px;
  top: 50px;

  border: 1px solid #1890FF;
  transform: rotate(90deg);

}

.text5 {
  position: absolute;
  width: 273px;
  height: 75px;
  left: 850px;
  top: 50px;

  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;



  color: #FFFFFF;


}

.text6 {
  position: absolute;
  width: 273px;
  height: 75px;
  left: 1050px;
  top: 50px;

  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;



  color: #FFFFFF;


}
.text7 {
  position: absolute;
  width: 273px;
  height: 75px;
  left: 1250px;
  top: 50px;

  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;



  color: #FFFFFF;


}